.CodeRay {
  background-color: #001129;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #C0C0C0;
}
.CodeRay pre { margin: 0px; }

div.CodeRay { }

span.CodeRay { white-space: pre; border: 0px; padding: 2px; }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px; }
table.CodeRay td { padding: 2px 4px; vertical-align: top; }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #001129;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt { font-weight: bold; }
.CodeRay .no { padding: 0px 4px; }
.CodeRay .code { width: 100%; }

ol.CodeRay { font-size: 10pt; }
ol.CodeRay li { white-space: pre; }

.CodeRay .code pre { overflow: auto; }

.CodeRay .af { color:#00C; }
.CodeRay .an { color:#007; }
.CodeRay .av { color:#700; }
.CodeRay .aw { color:#C00; }
.CodeRay .bi { color:#509; font-weight:bold; }
.CodeRay .c  { color:#666; }

.CodeRay .ch { color:#88F; }
.CodeRay .ch .k { color:#04D; }
.CodeRay .ch .dl { color:#039; }

.CodeRay .cl { color:#e9e; font-weight:bold; }
.CodeRay .co { color:#5ED; font-weight:bold; }
.CodeRay .cr { color:#0A0; }
.CodeRay .cv { color:#ccf; }
.CodeRay .df { color:#099; font-weight:bold; }
.CodeRay .di { color:#088; font-weight:bold; }
.CodeRay .dl { color:black; }
.CodeRay .do { color:#970; }
.CodeRay .ds { color:#D42; font-weight:bold; }
.CodeRay .e  { color:#666; font-weight:bold; }
.CodeRay .er { color:#F00; background-color:#FAA; }
.CodeRay .ex { color:#F00; font-weight:bold; }
.CodeRay .fl { color:#60E; font-weight:bold; }
.CodeRay .fu { color:#5ed; font-weight:bold; }
.CodeRay .gv { color:#f84; }
.CodeRay .hx { color:#058; font-weight:bold; }
.CodeRay .i  { color:#66f; font-weight:bold; }
.CodeRay .ic { color:#B44; font-weight:bold; }
.CodeRay .il { }
.CodeRay .in { color:#B2B; font-weight:bold; }
.CodeRay .iv { color:#aaf; }
.CodeRay .la { color:#970; font-weight:bold; }
.CodeRay .lv { color:#963; }
.CodeRay .oc { color:#40E; font-weight:bold; }
.CodeRay .on { color:#000; font-weight:bold; }
.CodeRay .op { }
.CodeRay .pc { color:#08f; font-weight:bold; }
.CodeRay .pd { color:#369; font-weight:bold; }
.CodeRay .pp { color:#579; }
.CodeRay .pt { color:#66f; font-weight:bold; }
.CodeRay .r  { color:#5de; font-weight:bold; }

.CodeRay .rx { background-color:#221133; }
.CodeRay .rx .k { color:#f8f; }
.CodeRay .rx .dl { color:#f0f; }
.CodeRay .rx .mod { color:#f0b; }
.CodeRay .rx .fu  { color:#404; font-weight: bold; }

.CodeRay .s  { background-color:#331122; }
.CodeRay .s  .s { background-color:#ffe0e0; }
.CodeRay .s  .s  .s { background-color:#ffd0d0; }
.CodeRay .s  .k { color:#F88; }
.CodeRay .s  .dl { color:#f55; }

.CodeRay .sh { background-color:#f0fff0; }
.CodeRay .sh .k { color:#2B2; }
.CodeRay .sh .dl { color:#161; }

.CodeRay .sy { color:#Fc8; }
.CodeRay .sy .k { color:#Fc8; }
.CodeRay .sy .dl { color:#F84; }

.CodeRay .ta { color:#070; }
.CodeRay .tf { color:#070; font-weight:bold; }
.CodeRay .ts { color:#D70; font-weight:bold; }
.CodeRay .ty { color:#339; font-weight:bold; }
.CodeRay .v  { color:#036; }
.CodeRay .xt { color:#444; }
