<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>Error <%= status %></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/__heel__/css/pico.min.css' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <main class="container">
      <h1><%= message %></h1>

      <p>
        There was an Error retrieving url : <%= base_uri %>
      </p>
      </section>

      <footer class="container">
        <hr>
        <p>
          <small><a href="<%= homepage %>">heel</a> v<%= Heel::VERSION %></small>
        </p>
      </footer>

    </main>

  </body>
</html>
