<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error <%= status %></title>
    <meta charset='utf-8'>
    <link href='/heel_css/error.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--[if IE]>
      <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
  </head>
  <body>
    <div role='wrapper'>
      <header>
        <h1>Requested URL: <%= base_uri %></h1>
      </header>
      <div role='content'>
        <article role='message'><p><%= message %></p></article>
      </div>
      <footer>
        <p>
          <a href="http://github.com/copiousfreetime/heel/">heel</a> v<%= Heel::VERSION %>
        </p>
      </footer>
    </div>
  </body>
</html>
