html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  -webkit-font-smoothing: optimizeLegibility; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style: none; }

cite {
  font-style: normal; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(image-path("boxsizing.htc")); }

body {
  background: #e7c9ae;
  color: #47423b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  padding: 14px; }
  body a, body a:link, body a:visited {
    color: #3b619b;
    text-decoration: none; }
    body a:hover, body a:link:hover, body a:visited:hover {
      color: #4d79bc; }
  body > [role='wrapper'] {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125);
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }
    body > [role='wrapper'] > header, body > [role='wrapper'] > footer {
      padding: 7px; }
    body > [role='wrapper'] > footer p {
      font-size: 11.2px;
      line-height: 14.56px;
      text-align: right; }
    body > [role='wrapper'] > [role='content'] {
      background: #f9f9f9;
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); }
      body > [role='wrapper'] > [role='content'] > table {
        width: 100%; }
        body > [role='wrapper'] > [role='content'] > table thead {
          border-bottom: 2px solid #f3f3f3; }
        body > [role='wrapper'] > [role='content'] > table th, body > [role='wrapper'] > [role='content'] > table td {
          text-align: left;
          padding: 3.5px 7px;
          color: #71695e; }
        body > [role='wrapper'] > [role='content'] > table tr:nth-child(even) {
          background: whitesmoke; }